*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Montserrat', sans-serif !important;
}
html{
    height: 100%;
    width: 100%;
}

@media screen and (max-width:991px){
    html{
        height: 100%;
        width: 100%;
    }
    footer{
        margin-top: auto;
    }
    .navcategory{
    width: 100%;
    margin-inline: auto;
    }
    .list-group-item{
        text-align: start !important;
    }
    .search{
        width: 55% !important;
        display: flex;
        margin-left: auto;
        align-content: flex-end !important;
    }
    .details{
       width: 100%;  
       align-content: center;
    }
    #details-div{
        max-height: 60rem;
        max-width: 30rem;
        width: 90%;
        margin: 1rem;
        flex-direction: column !important;
        align-items: center; 
    }
    .details-figure{
        width: 80%;
    }
    .details-img{
        width: inherit;
    }
    ul{
        padding-left: 0 !important;
    }
    .headerul{
        width: 12.3rem;
        padding: .5rem 0;
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        top: 4.4rem;
        z-index: 1;
        border-radius: 0 0 0 1rem;
        background-color:  rgba(230, 230, 230, 0.9) !important;
    }
    .navbar-collapse{
        display: grid;
        justify-content: end;
    }
    .toggle-menu-checkbox-show{
        display: none;
    }
    .navbar-toggler{
        width: 3.5rem;
        height: 3.5rem; 
        margin-right: .5rem;
        border: 1px solid black !important; 
        border-radius: 1rem !important; 
       
    }
    .navbar-toggler>span{
        color: white !important;
        width: 100%;
        height: 100%;
    }
    .navbar-toggler:focus{  
        border-color: rgb(122, 122, 122) !important;
        border-radius: 1rem;
        box-shadow: 1px 1px 8px 4px rgba(255, 255, 255, 0.5) inset !important;
        background-color: #d9036757;
    }
    #contactcard{
        width: 70% !important;
    }
    #nmfdiv{
        margin-top: 5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0 !important;
    }
    #nmf{
        width: 60%;
        margin-top: 1rem !important;
        margin-left: 2.5rem !important;
        margin-bottom: 5% !important;
    }
    #nmfdiv>h2 {
        margin-left: 0 !important;
    }
}
.h1, h1{
    font-size: 2.8rem !important;
}
.toggle-menu-checkbox-show{
    display: none;
}
.headerul{
    visibility: visible;
    display: flex;
    justify-content: flex-end;
        
    }   
body{
    display: flex !important;
    flex-direction: column;
    max-width: 100%;
    min-height: 100%;
} 
nav{
    width: 100%;
    background-color: #d903677e !important;
}
.navcategory{
    justify-content: flex-start !important;
    padding: .1rem 0;
}
.list-group{
    display: flex; 
    flex-wrap: wrap !important;
}
 .list-group-item{
   width: 10rem; 
   height: 2.3rem; 
   text-align: center;
   padding: 0!important; 
   align-items: first baseline !important;
   border-color: transparent !important;
   background-color:  rgba(230, 230, 230, 0.9) !important;
}
.search{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    width: 45%; 
    margin-left: auto;
}
#search:active, #search:hover, #search:focus{
    border: 1px solid;
    border-color:rgba(0, 0, 0, 0.6) !important;
    box-shadow: 2px 2px 12px 6px #fc82bd80 inset !important;
}
#search::placeholder{
    color: rgba(56, 56, 56, 0.6);
}
.card{
    height: 22rem;
    width: 15.5rem;
    background-color: #f7cde12d !important; 
    display: flex !important;
    border: inset 2px !important;
    border-color: rgba(0, 0, 0, 0.5) !important;
    margin: 2% !important;
    border-radius: 8px !important;
}
.card-img-top{
    width: 100% !important;
    height: 10rem !important;
    background-size: contain !important;
}
.card-group{ 
    display: flex;
    flex-wrap: wrap;
}
.card-body{
    height: 12rem;
    display: contents !important;
    width: 100% !important;
    padding: 3% !important;
}
.card-body>h5{
    margin-bottom: 0rem;
    margin-top: .4rem;
    font-size: 1.4rem;
}
.card-text{
    font-size: 1.05rem;
    height: 7.5rem;
    display: flex !important;
    margin: .5rem;
} 
.footer-card{
    height: 3rem;
    display: flex !important;
    justify-content: space-around !important;
    margin-top: auto;
    align-items: baseline !important;
}
#pdate{
    text-align: center;
    justify-self: end;
    width: 100%;
    height: 1rem;
    margin: .6rem 0 1.4rem;
}
.nav-item{
    margin: .5rem;
}
#headernav{
    display: flex;
    justify-content: space-between !important;
    max-width: 100%;
}
.pagination{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.navlogo{
    margin-left: 1rem;
}
.pagenav{
    display: flex !important;
    justify-items: center !important;
    height: 8rem !important;
    width: 100% !important;
    justify-content: space-around;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}
li>.page-link, .page-item{
    height: 100% !important;
    display: flex;
    align-items: center;
}
ul,h1{
    margin-bottom: 0 !important;
}
.page-link{
    border-color: transparent !important;
    background-color: #d903677e !important;
}
span{
    color: black;
    font-size: 3rem;
}
#contactcard{
    padding: 1rem;
    display: flex !important;
    width: 45%;
    height: 80% !important;
    border: 2px solid rgba(160, 160, 160, 0.2) !important;
    margin: 4rem auto !important;
}
.formcontact{
    width: 70%;
    margin: auto !important;
}
.formcontact>button{
   float: right;
}
.formcontact>div>.form-control{
    border: 2px solid black !important;
}
.navbar.bg-body-tertiary{
    background-color: rgba(128, 128, 128, 0.2) !important;
}
table{
    margin: 3rem auto !important;
    width: 80% !important;
    border: 2px solid rgba(0, 0, 0, 0.6) !important;
}
th{
    background-color: rgba(128, 128, 128, 0.2) !important;  
}
td{
    font-size: .8rem !important;
}
.details{
    width: 100%;
    display: flex;
    height: 100%;
    min-height: 40rem !important;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}
#details-div{
    max-width: 56rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid black !important;
    gap: 1rem !important;
    max-height: 60rem;
    padding: 1.5rem;
}
.details-figure{
    width: 90%;
    margin: 0 1rem;
    border: 1px solid black;
    box-shadow: -1px -1px .3rem black;
}
.details-img{
  width: 100%;
  object-fit: cover;
}
.details-title{
    font-size: 2.3rem;
}
.details-info{
    font-size: 1.3rem;
    flex-direction: column;
    width: 90%;
    text-align: center;
}
.details-list{
   line-height: 2.2rem;
   list-style: none; 
}
.btn:hover, .btn:active, .active{
    background-color: #d903677e !important;
}
footer{
    margin-top: auto;
}
ul{
    padding-left: 1rem;
}
.form-check-input:active, .form-check-input:hover, .form-check-input:focus, .form-check-input:checked{
    background-color: #d9036757 !important;
    border-color: #d903675b !important;
    box-shadow: .2px .2px 0px 4px #fc82bd80 !important;
}
#nmfdiv{
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1.5rem;
}
#nmf{
    width: 60%;
    margin-top: 2rem;
    margin-left: 4.5rem;
    margin-bottom: 5%;
}
#nmfdiv>h2 {
    font-size: 2.5rem;
    color: #d9036781 !important;
    text-align: center;
    font-weight: bold;
    margin-left: .5rem;
}

